@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Venue" asp-action="Index" class="btn btn-primary">Venues</a>
    <a asp-controller="Event" asp-action="Index" class="btn btn-secondary">Events</a>
    <a asp-controller="Booking" asp-action="Index" class="btn btn-priamry">Bookings</a>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
